@charset "ISO-8859-1";


.fondo {
	background-color:#eeeeee ;
}

.cont{
	
	margin-top:4px;
	font-family: 'Roboto', sans-serif;
	font-size:50px;
	color:#2F4F4F;}
	
	
.contenedor{
	
	margin-top:60px;
	
}
	

.contai{
	border: 2px black solid;
	height: 300px;
	margin-top: 200px;
	border-radius: 10px;
	box-shadow: 6px 6px 6px black;
}




.coli{
	margin-top:25px;
	margin-bottom:25px;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
	margin-left:550px;
	width:400px;
}


.conte {
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	color:red;
}	