@charset "ISO-8859-1";
/* Hey! I did not designed it, just coded (: */
body{
	
	
	
	background-color: #8cb2d8;
	background-size: cover;
	background-repeat: no-repeat;
	
}
form{
	
	
	padding-top: 50px;
	max-width: 400px;
	margin: auto;
	margin-top: 150px;
	width: 40%;
	
	background-image: linear-gradient(#CCC 40px, #CCC 40px, #FFF 40px);
}

h4{
	font-family: 'Roboto', sans-serif;
	padding-top: 50px;
	max-width: 400px;
	margin: auto;
	margin-top: 5px;
	width: 40%;
	color:red;
	text-decoration: underline;
}
h4:hover{
	
	color:green;
	
}

input{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	display: block;
	width: 80%;
	padding: 5px;
	margin: 20px auto;
	border: none;
}
input:not([type="submit"]){
	border-bottom: 1px solid #CCC;
	transition: border-bottom-color 0.4s;
	color: #666;
}
input:focus{
	border-bottom-color: #999;
	outline: none;
}

[type="submit"]{
	width: 100%;
	background-color: #22A;
	color: #FFF;
	margin-top: 40px;
	text-transform: uppercase;
	cursor: pointer;
	padding: 15px 0;
	
	transition: background-color 0.4s;
}
.exito{
	background-color: #090;
}
.error{
	animation: error 0.2s alternate 2 cubic-bezier(.36,.07,.19,.97);
}

@keyframes error{
  10%, 90% {
    transform: translateX(-1px);
  }
  
  20%, 80% {
    transform: translateX(2px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}