@charset "ISO-8859-1";

.tipo{
	margin-top:25px;
	font-family: Brush Script MT;
	margin-left:0px;
	font-size:40px;
	color:blue;
}
.tipot{
	
	margin-left:10px;
}

.tipo1{
	margin-top:25px;
	font-family: Brush Script MT;
	margin-right:50px;
	font-size:40px;
	
}


.coli{
	margin-top:25px;
	margin-bottom:25px;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
	margin-left:550px;
	width:400px;
}




.cont{
	
	margin-top:4px;
	font-family: Brush Script MT;
	font-size:32px;
	color:;
}

.cont1{
	
	margin-top:4px;
	font-family: 'Roboto', sans-serif;
	font-size:60px;
	color:;
}



